*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Open Sans", serif;
}

.header {
  min-height: 100vh;
  background: linear-gradient(rgb(63 208 212 / 50%), rgb(0 0 0 / 70%)),
    url(./images/hero-bcg.jpeg) center / cover no-repeat;
}

.nav {
  background: transparent;
  padding: 1rem 1.5rem;
}

.nav.fixed-nav {
  position: fixed;
  width: 100%;
  background: #fff;
}

.nav.fixed-nav .nav-menu-link {
  color: hsl(209.45deg 22.09% 48.82%);
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-out 0.28s;
}

.nav-header {
  display: flex;
}

.logo {
  height: 50px;
  width: 50px;
}

.burger-menu {
  visibility: hidden;
  z-index: -999;
  display: flex;
  align-items: center;
  width: 25px;
  height: 20px;
  background: transparent;
  border: none;
  border-top: 4px solid hsl(208.8deg 60.98% 16.08%);
  border-bottom: 4px solid hsl(208.8deg 60.98% 16.08%);
  cursor: pointer;
  transition: all ease-out 0.28s;
}

.burger-menu-center {
  display: inline-block;
  height: 4px;
  width: 100%;
  background: hsl(208.8deg 60.98% 16.08%);
  transition: all ease-out 0.28s;
}

.burger-menu:hover {
  border-top: 4px solid hsla(182, 63%, 54%);
  border-bottom: 4px solid hsla(182, 63%, 54%);
}

.burger-menu:hover .burger-menu-center {
  background: hsla(182, 63%, 54%);
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* transition: all ease-out 0.28s; */
}

.nav-menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 1rem;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.banner-title {
  font-family: "Roboto", serif;
  font-size: 64px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 12px;
}

.banner-text {
  max-width: 40rem;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  margin-bottom: 1.25rem;
}

.btn-scroll {
  display: inline-block;
  font-size: 0.875rem;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  background: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all ease-in 0.28s;
}

.btn-scroll:hover {
  background: #fff;
  color: hsla(182, 63%, 54%);
}

/* _________section about us_____________ */

.about,
.services,
.tours {
  height: 80vh;
  background: hsl(210, 36%, 96%);
}

.about-title,
.services-title,
.tours-title {
  line-height: 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: hsl(209, 61%, 16%);
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 12px;
}

.about-title span,
.services-title span,
.tours-title span {
  color: hsla(182, 63%, 54%);
}

.services {
  background: #fff;
}

/* -------------FOOTER-------------------*/

.footer {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-size: 1rem;
  background: hsl(209, 61%, 16%);
  padding: 5rem 1rem;
  line-height: 1.5;
}

.home-btn {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 50px;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 7px;
  background: hsla(182, 63%, 54%);
  animation: zoom 1s linear 1s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.home-btn img {
  transform: rotate(-90deg);
}

.home-btn.show-btn {
  display: block;
}

/* ------------media----------------- */

@media screen and (max-width: 800px) {
  .nav {
    background: #fff;
  }

  .nav-center {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu {
    visibility: visible;
    z-index: 100;
  }

  .menu-container {
    height: 0;
    overflow: hidden;
    transition: all ease-out 0.28s;
  }

  .nav-menu {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }

  .nav-menu-link {
    color: hsl(209.45deg 22.09% 48.82%);
    cursor: pointer;
    transition: all ease-out 0.28s;
  }

  .nav-menu-link:hover {
    color: hsl(209, 61%, 16%);
  }
}
